APP_NAME=CTS GenAI Hackathon UC1 Backend
APP_ENV=development

HOST=0.0.0.0
PORT=8000

MODEL_DIR=models/fraud_model
MODEL_FILE=xgboost_fraud_model.pkl
FEATURES_FILE=features.json
CONFIG_FILE=config.json
COMBINED_DATA_FILE=data/All_Datasets_Combined1.csv